.header {
    display:flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding-left:15%;
    padding-right:15%;
}

.header-logo {
    font-size: 24px;
    color:#F9FAF8;
}

.header-links {
    font-size: 18px;
    display:flex;
    gap:20px;
}
a {
    text-decoration: none;
    color:#E5E7EB;
}

/*--------------------------------- HERO --------------------------------------*/

.hero-section {
    background-color: #1F2937;
    padding:100px;
    padding-left:15%;
    padding-right:15%;
    height:300px;

    display:flex;
    align-items: center;
}

.left-hero,
.hero-placeholder {
    flex:1;
}

.left-hero {
    display:flex;
    flex-grow: 1;
    flex-direction: column;
}
#hero {
    font-weight: extra-bold;
    font-size: 48px;
    color: #F9FAF8;
}
.left-hero button {
    width:100px;
    background-color: #3882F6;
    color:white;
    border-color: #3882F6;
}

.hero-placeholder {
    display:flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    color:#E5E7EB;
}

.random-information {
    display:flex;
    flex-direction: column;
    padding:50px;
    margin-left:15%;
    margin-right:15%;

    justify-content: center;
    align-items: center;
}
.title {
    margin-bottom: 30px;
}
.dual-group {
    display:flex;
    align-items: center;
    text-align: center;

    margin:10px;
}
.dual {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.icon {
    height:150px;
    width:150px;
    border: 5px solid #3882F6;
}

/*-------------------------------- QUOTE ---------------------------------------*/

.quote-box {
    display:flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #E5E7EB;
    flex-grow:1;
}
.quote {
    font-size: 36px;
    font-style:italic;
}
.attribution {
    display:flex;
    justify-content: right;
}

/*-------------------------------- CALL TO ACTION ---------------------------------------*/

.call-to-action-box {
    background-color:#3882F6;

    margin-left: 15%;
    margin-right: 15%;
    margin-top: 75px;
    margin-bottom: 75px;

    padding:30px;
    padding-left:5%;
    padding-right:5%;

    display:flex;
    justify-content: space-between;
    align-items: center;

    color:white;
}
.call-to-action button {
    width:100px;
    height:25px;

    border-color: white;
    background-color: #3882F6;
    color:white;
}

/*-------------------------------- FOOTER ---------------------------------------*/

.footer {
    color:white;
    background-color: #1F2937;

    display:flex;
    justify-content: center;
    align-items: center;
}